/build
!/build/libs/
/cpp/cmake-build-debug
/cpp/cmake-build-release
.gradle/
/xtp_api_demo/target
user-noCommit.config.properites
.idea/
/cpp/build/
/cpp/buildWin64/CMakeFiles/3.13.2/CompilerIdC/Debug/CompilerIdC.tlog
/cpp/buildWin32/CMakeFiles/3.13.2/CompilerIdC/Debug/CompilerIdC.tlog